# .gitignore pro Django
/.idea/
/.env
*.pyc
/images/
/config

# Python
__pycache__/
*.pyo
*.pyd
.Python
*.log

# Virtuální prostředí
.venv/

# Media a statické soubory
/media/
/static/


# IDE
.idea/


# Systémové soubory
.DS_Store
Thumbs.db

# google calendar
config/credentials.json
